[submodule "AIND-Sudoku"]
	path = AIND-Sudoku
	url = git@github.com:keithblaha/AIND-Sudoku.git
[submodule "AIND-Isolation"]
	path = AIND-Isolation
	url = git@github.com:keithblaha/AIND-Isolation.git
[submodule "AIND-Simulated_Annealing"]
	path = AIND-Simulated_Annealing
	url = git@github.com:keithblaha/AIND-Simulated_Annealing.git
[submodule "AIND-Constraint_Satisfaction"]
	path = AIND-Constraint_Satisfaction
	url = git@github.com:keithblaha/AIND-Constraint_Satisfaction.git
[submodule "AIND-Planning"]
	path = AIND-Planning
	url = git@github.com:keithblaha/AIND-Planning.git
[submodule "AIND-Recognizer"]
	path = AIND-Recognizer
	url = git@github.com:keithblaha/AIND-Recognizer.git
[submodule "aind2-dl"]
	path = aind2-dl
	url = git@github.com:keithblaha/aind2-dl.git
[submodule "aind2-cnn"]
	path = aind2-cnn
	url = git@github.com:keithblaha/aind2-cnn.git
[submodule "dog-project"]
	path = dog-project
	url = git@github.com:keithblaha/dog-project.git
[submodule "aind2-rnn"]
	path = aind2-rnn
	url = git@github.com:keithblaha/aind2-rnn.git
